.social_media_links {font-size:4rem; text-align:center;}

.login_form {width:30%;margin-top:0;font-size:2rem;}

.task_form {width:25%; margin:auto; font-size:2rem; padding: 2% 0;}

.navbar li {
    margin-left : 1em;
    margin-right : 1em;
}

