<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Title</title>

    <!-- fontawesome -->
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/cee8cd3d11.js"></script>

    <!--    Bootstrap-->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" rel="stylesheet">

    <!--    JS-->
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">

</head>
<body>
<div class="container-fluid" style="padding:0;margin:0;">
    <nav class="navbar sticky navbar-expand-lg navbar-dark bg-dark container-fluid" style="border-radius:0;margin:0;">
        <div class="container-fluid">
            <h1 style="margin:auto;color:white;">🧾 TasksList <span style="font-style:italic;font-size:2rem;color:#3EDBF0;"> | {{current_user.username}}</span></h1>
            <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav" style="padding:0; font-size:2rem;">

                <ul class="navbar-nav ms-auto">
                    {% if logged_in %}
                    <li class="nav-item ">
                        <a aria-current="page" class="nav-link" href="{{url_for('todo')}}">Task Dashboard</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{{url_for('add_task')}}">➕ Add Task</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{{url_for('about')}}">About Us</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item ">
                        <a class="nav-link" href="{{url_for('about')}}">About Us</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{{url_for('home')}}">Login/Register</a>
                    </li>
                    {% endif %}
                </ul>

            </div>

        </div>
    </nav>
</div>


